name: Release

on:
  push:
    tags: ["*"]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install devtools
        run: sudo apt install -y build-essential mingw-w64

      - name: Install mise and run mise install
        uses: jdx/mise-action@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Release using goreleaser
        run: mise run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
